
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        COVID Dashboard ASP.NET Core
        <img src="~/image/SARS-CoV-2_without_background.png" width="100" height="100" />
    </h1>
    <p>Aplicação construída para a disciplina de Laboratório de Desenvolvimento de Aplicações Móveis e Distribuídas</p>
    <br />
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">País</th>
                        <th class="confirmados" scope="col">Casos Confirmados</th>
                        <th class="recuperados" scope="col">Recuperados</th>
                        <th class="mortes" scope="col">Mortes</th>
                    </tr>
                </thead>
                <tbody>
                    @{ if (ViewData["Infeccoes"] == null || !((List<InfeccaoPaisModel>)ViewData["Infeccoes"]).Any())
                        {
                            <tr>
                                <td colspan="5">Sem dados disponíveis 😢</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var i in (List<InfeccaoPaisModel>)ViewData["Infeccoes"])
                            {
                                <tr>
                                    <th scope="row">@i.InfeccaoPaisId</th>
                                    <td>@i.Pais</td>
                                    <td class="confirmados">@i.CasosConfirmados</td>
                                    <td class="recuperados">@i.Recuperados</td>
                                    <td class="mortes">@i.Mortes</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <p>*Os dados apresentados abaixo podem não estar condizentes com o cenário real.</p>
</div>